/* common styles and utilities  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Header Styel  */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.header-container {
    width: 80%;
    height: 80vh;
    display: flex;
    gap: 40px;
    margin-top: 50px;
    border-radius: 30px;
    padding: 70px;
    background-color: black;
    color: white;
    overflow: hidden;

}

.header-text {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    height: 100%;
}

.header-text>h1 {
    font-size: 4rem;
    line-height: 80px;
    font-weight: 700;
}

.header-text>p {
    margin: 30px 0px;
    font-size: 16px;
    font-weight: 400;
}

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    font-size: 20px;
}

.banner-btn>a {
    text-decoration: none;
    color: white;
}

.fa-greater-than {
    margin-left: 10px;
}

.header-image {
    width: 50%;
    height: 100%;
}

.header-image img {
    width: 600px;
}

/* Main Style  */

.main-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 100px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
}

.blog-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: black;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;

}

.blog-nav a {
    text-decoration: none;
}

.blog-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    width: 230px;
    height: 54px;
}

.blog-container {
    width: 313px;
    height: 365px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px gray;


}

.blog-text {
    padding: 25px;
}

.text-btn {
    border: 1.5px solid black;
    padding: 3px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: white;
    border-radius: 3px;
}

.blog-text>p {
    margin-top: 15px;
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
}

.blog-footer {
    display: flex;
    gap: 30px;
}

.fa-comment-dots,
.fa-clock {
    margin-right: 10px;
}

.main-footer {
    display: none;
}

/* Footer Section  */

footer {
    background-color: black;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: whitesmoke;
    height: 300px;
    font-family: 'Poppins', sans-serif;
}

.footer-about {
    border-top: 1px solid gray;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;
    align-items: center;
    gap: 30px;

}

/* Matches Page  */

.second-main {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 100px;
}

.matches {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.match {
    padding: 50px 30px;
    border: .5px solid lightgray;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 4px 8px 0px gray;
}

.match-flag {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.match-time {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Media Queries Start  */
/* Laptop View  */
@media only screen and (max-width:1200px) {
    .header-container {
        width: 90%;
    }

    .header-text>h1 {
        font-size: 3.5rem;
        line-height: 60px;
    }

    .header-image {
        width: 58%;
    }
}

/* Tablet View  */

@media only screen and (max-width:992px) {
    .container {
        margin-bottom: 40px;
    }

    .header-container {
        height: 55vh;
        display: flex;
        gap: 0;
    }

    .header-text {
        margin-top: 30px;
    }

    .header-text>h1 {
        font-size: 2.5rem;
        line-height: 50px;
    }

    .header-text p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .header-image img {
        width: 440px;
    }

    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .blog-nav {
        display: flex;
        flex-direction: row;
        background-color: white;
        width: 650px;
        height: 100%;
    }

    .blog-btn {
        margin-bottom: 30px;
        border: 1px solid lightgray;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .blog-tablet {
        display: none;
    }

    .main-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .main-footer button {
        padding: 10px 25px;
        background-color: #DD0000;
        color: white;
        border: none;
        border-radius: 5px;
        font-family: 'Poppins', sans-serif;
    }

    footer {
        height: 345px;
    }

    .footer-about {
        width: 90%;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
    }

    .footer-tabview {
        grid-column: 2/3;
    }

    .footer-tabview2 {
        grid-column: 3/4;
    }
}

/* Mobile View  */
@media only screen and (max-width:768px) {
    .header-container {
        width: 95%;
        height: 80vh;
        display: flex;
        flex-direction: column;
    }

    .header-text {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .header-text>h1 {
        font-size: 24px;
        line-height: 35px;
        text-align: center;
    }

    .header-text p {
        width: 100%;
        height: 40px;
    }

    .banner-btn {
        padding: 10px 15px;
    }



    .header-image {
        margin-right: -40px;
        width: 100%;
        height: 50%;
    }

    .header-image img {
        margin-left: -150px;
        width: 520px;
    }

    .blog-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 210px;
    }

    .blog-btn {
        margin-bottom: 10px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .main-footer {
        display: none;
    }

    footer {
        height: 100%;
    }

    .footer-container {
        height: 580px;
    }

    .footer-about {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 25px;
    }

    .footer-about>p {
        grid-column: 1;
    }
}